{% extends 'base.html'%}

{% block title%}
Favorites
{% endblock %}


{% block body%}
<script>
function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
   }
</script>
<ul>
    {% for i in data%}
    <div class="card" style="background-color: white; margin: 10px">
        <div>
        <h5 class='card-header'>User login: {{i[1]}}</h5>
        <button class="btn btn-dark btn-sm" style="margin-left: 10px; margin-top: 10px;" onclick="toggle_visibility('{{i[0]}}')">Chat history</button>
        </div>
        <div class="card" id={{i[0]}} style="display: none; margin: 5px">
                <ul class="list-group list-group-flush">
        {%for a in i[3].split('[end]')%}
            <li class="list-group-item">{{a}}</li>
        {% endfor %}
                </ul>
            </div>

        <div class ='card' style="margin: 10px">
            <div>
                <span style="font-weight: bold">Last message: </span>
                <span>{{i[3].split('[end]')[-1]}}</span>
                </div>
            <div>
        <span style="font-weight: bold">Status send:</span>
            <span>{{i[4]}}</span>
            </div>
            <div>
                <span style="font-weight: bold">Link chat:</span>
                <span>{{i[5]}}</span>
                </div>
        </div>
        {%if i[6] == 1%}
        <form action="{{'/addfavorites'}}" method="get">
            <button class="btn btn-light btn-sm" style="margin: 10px; float: right" type="submit" name="del_favorites" value="{{i[1]}}, {{i[2]}}" title="add">-</button>
        </form>
        {%endif%}
        </div>
    {% endfor %}
</ul>
{% endblock %}